
body{
  background-image: url("background-no-apple.png");
  background-color: #ffe8ba;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  position: fixed;
  left: 100px
  top: 100px
}
p{
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
