body{
  background-image: url(rico-bico-K-8Bu86dUvc-unsplash.jpg);
  background-color: #ffe8ba;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  position: absolute;
  left: 100px
  top: 100px
}
