
body{
  background-image: url("background-no-apple.png");
  background-color: #ffe8ba;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  position: absolute;
  left: 100px
  top: 100px
}
