h1{
  font-size: 100px;
  text-align: center;
  font-family:"Comic Sans MS";
}

body {
  background-image: url("rainbowbackground.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}



.image{
 border: 10px solid black;
 margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 100px;
 margin-left: 100px;
 height: 400px;
 width: 400px;
}

.image:hover {
  opacity: .2;

.centered {
  position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 24px;
font-family:"Comic Sans MS";
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#sheeple {
  top: 20px;
  background-color: purple;
}

#crab {
  top: 80px;
  background-color: #4CAF50;
}

#gallery {
  top: 140px;
  background-color: #2196F3; /* Blue */
}


#vibeo {
  top: 200px;
  background-color: #f44336; /* Red */
}

#five {
  top: 260px;
  background-color: #555 /* Light Black */
}
