body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {

}


.headerimage {
  background-image: url("sheeperson.gif");
  height: 50%;
  background-position: top;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}

#mySidenav a {
  position: absolute;
  z-index: -1;
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#sheeple {
  top: 20px;
  background-color: purple;
}

#crab {
  top: 80px;
  background-color: #4CAF50;
}

#gallery {
  top: 140px;
  background-color: #2196F3; /* Blue */
}


#vibeo {
  top: 200px;
  background-color: #f44336; /* Red */
}

#five {
  top: 260px;
  background-color: #555 /* Light Black */
}

.headertext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}


.column {
  float: left;
  padding: 10px;
  text-align: center;
  height: ;
  color:white;
}

.column.side{
  background-color: grey;
  width: 25%;
}

.column.middle{
  background-color: black;
  width: 50%;
}


@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
