$blue: #7998C2;

@function rem ($val) {
  @return ($val/16) * 1rem;
}

@mixin position ($position: relative, $coordinates: 0 0 0 0) {
  @if type-of($position) == list {
    $coordinates: $position;
    $position: relative;
  }

  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  position: $position;

  @if $top == auto {
    top: $top;
  }
  @else if not(unitless($top)) {
    top: $top;
  }
  @if $right == auto {
    right: $right;
  }
  @else if not(unitless($right)) {
    right: $right;
  }
  @if $bottom == auto {
    bottom: $bottom;
  }
  @else if not(unitless($bottom)) {
    bottom: $bottom;
  }
  @if $left == auto {
    left: $left;
  }
  @else if not(unitless($left)) {
    left: $left;
  }
}

@mixin selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none) {
  ::-moz-selection{
    background: $selection-bg;
    color: $selection-c;
    text-shadow: $selection-ts;
  }
  ::selection{
    background: $selection-bg;
    color: $selection-c;
    text-shadow: $selection-ts;
  }
}

%clear {
  content: ' ';
  display: table;
}
.clear {
  *zoom: 1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear: both;
  }
}

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 100%;
}
body {
  width: rem(740);
  padding: rem(40) rem(20);
  margin: 0 auto;
  font: 300 rem(14)/#{1.6} sans-serif;
  background: white;
  color: #444;
  overflow-y: scroll;
}

@include selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none);

a {
  color: darken($blue, 10%);

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

.header {
  margin-bottom: rem(60);
}

.headline {
  margin-top: 0;
  line-height: #{(30/24)};
  font-size: rem(24);
  text-align: center;
  color: #444;
  font-weight: normal;
  white-space: nowrap;
}

%nav__item {
  padding: rem(10) rem(30);
  line-height: #{(30/14)};
  background-color: $blue;
  color: white;
  text-decoration: none;
  transition: background-color .2s linear, text-shadow .2s linear;
  user-select: none;
  transform: translateZ(0);
  backface-visibility: hidden;
}

%nav__item--highlight {
  background-color: darken($blue, 15%);
  text-shadow: 0 1px 1px rgba(black, .6);
}

%nav__rounded {
  overflow: hidden;
  border-radius: rem(2);
}

.nav {
  height: rem(50);
  overflow: hidden;
  text-align: center;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.nav__item {
  margin: 0 rem(5);
  display: inline-block;
  position: relative;
  @extend %nav__item, %nav__rounded;

  &:hover,
  &:focus,
  &.is-active {
    @extend %nav__item--highlight;
  }

  &.nav__item--sub:before {
    width: 0;
    height: 0;
    display: block;
    content: '';
    border-width: rem(4);
    border-style: solid;
    border-color: rgba(black, .2) transparent transparent rgba(black, .2);
    @include position (absolute, 0px 0 0 0px);
  }

  &.is-active {
    cursor: default;
  }

  &.is-blocked {
    pointer-events: none;
    &:hover,
    &:focus {
      background-color: $blue;
      text-shadow: none;
    }
  }

}

.nav__toggle {
  width: rem(20);
  padding: 0;
  margin-top: rem(-9);
  line-height: #{(20/8)};
  border: none;
  background: rgba(black, .2) none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #DDD;
  border-radius: rem(3);
  font-size: rem(8);
  display: none;
  backface-visibility: hidden;
  transition: background-color .2s linear, box-shadow .2s linear color .2s linear .15s;
  @include position (absolute, 50% rem(15) auto auto);

  &:hover,
  &:focus,
  .is-active & {
    background-color: rgba(black, .5);
    box-shadow: 0 1px 2px rgba(black, .2);
    color: white;
    outline: none;
  }

  &:active {
    top: calc(50% + 1px);
  }

}

.subnav {
  position: absolute;
  display: none;
  box-shadow: 0 2px 3px rgba(black, .1);
  @extend %nav__rounded;
}

.subnav__item {
  min-width: rem(180);
  display: block;
  @extend %nav__item;

  &:hover,
  &:focus {
    @extend %nav__item--highlight;
  }

}
