h1{
  font-size: 100px;
  text-align: center;
  font-family:"Comic Sans MS";
}

body {
  background-image: url("rainbowbackground.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

img{
 margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 100px;
 margin-left: 100px;
 height: 400px;
 width: 400px;
}
