h1 {
  text-align: center;
}

img {
  transition: transform 15s;
  height: 422px;
  width: 612px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -211px;
  margin-left: -306px;

}



img{
  animation: shake 0.5s;


  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -10px) rotate(-5deg); }
  20% { transform: translate(-15px, 0px) rotate(5deg); }
  30% { transform: translate(15px, 10px) rotate(0deg); }
  40% { transform: translate(5px, -5px) rotate(5deg); }
  50% { transform: translate(-5px, 10px) rotate(-5deg); }
  60% { transform: translate(-15px, 5px) rotate(0deg); }
  70% { transform: translate(15px, 5px) rotate(-5deg); }
  80% { transform: translate(-5px, -5px) rotate(5deg); }
  90% { transform: translate(5px, 10px) rotate(0deg); }
  100% { transform: translate(5px, -10px) rotate(-5deg); }
}

img:hover {
  animation-iteration-count: 0;
  transform: scale(5);
}


#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#1 a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#2 {
  top: 20px;
  background-color: #4CAF50;
}

#3 {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#4 {
  top: 140px;
  background-color: #f44336; /* Red */
}

#5 {
  top: 200px;
  background-color: #555 /* Light Black */
}
