h1{
  font-size: 100px;
  text-align: center;
  font-family:"Comic Sans MS";
}

body {
  background-image: url("rainbowbackground.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}



.image{
 border: 10px solid black;
 margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 100px;
 margin-left: 100px;
 height: 400px;
 width: 400px;
}

.image:hover {
  opacity: .2;
}

.centered {
  position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 24px;
font-family:"Comic Sans MS";
}
