body, html {
  height: 100%;
}


.headerimage {
  background-image: url("sheeperson.gif");
  height: 50%;
  background-position: top;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}

.headertext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
